{% extends 'base.html.twig' %}

{% block title %}ToDo List{% endblock %}

{% block body %}

<div id="app">
<table>
    <tr>
        <th>Name</th>   
        <th>Image</th>   
    </tr>
     {% for plant in plants %}
    <tr>
    <td>{{plant.name}}</td>
    <td><img src="{{plant.img}}"></td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}