@import url("https://fonts.googleapis.com/css2?family=Road+Rage&family=Spartan:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Spartan", sans-serif;
  height: 100%;
  min-width: 100vh;
  background-color: #f9f7d9;
}
.logo {
  font-family: "Oleo Script Swash Caps", cursive !important;
  font-size: 1.5rem !important;
  color: green !important;
}
main {
  min-height: 70vh;
}
h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 5rem;
  color: #9fc131;
}
.search-bar {
  background-color: white;
  border: 1px solid #777;
  border-radius: 25px;
  width: 50%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-indent: 1rem;
  padding: 0.5rem 0;
}

.types {
  margin: 0 1rem;
  border: none;
  font-size: 1rem;
  overflow: hidden;
  padding: 0.5rem;
}
.plant-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 80%;
  margin: 4rem auto;
  align-items: center;
  justify-content: center;
  grid-auto-flow: dense;
}

.card {
  position: relative;
  width: 220px;
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.plant-img {
  width: 220px;
  height: 250px;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}
.card:hover {
  transition: all 0.5s;
  cursor: pointer;
}

.card img:hover {
  filter: saturate(1.5);
}

.card-name {
  height: 20%;
  width: 100%;
  text-align: center;
  background-color: #9fc131;
  color: aliceblue;
  justify-content: center;
  padding: 0.8rem 0;
  text-transform: capitalize;
  font-size: 1rem;
  margin: 0;
  border-radius: 0 0 5px 5px;
}

.card-link{
  text-decoration: none;
}

.slogan-container > h1 {
  margin: 0 auto;
  width: 800px;
}

.form-container {
  width: 45%;
  margin: 0 auto;
  padding-top: 4rem;
}
.contact {
  color: white;
  text-align: center;
  background-color: #9fc131;
}
.btn-contact {
  width: 100%;
  margin: 1.5rem 0 4rem 0;
  background-color: #9fc131 !important;
  border: none !important;
}

.btn-color {
  background-color: #9fc131 !important;
  border: none !important;
}
.banner {
  background-color: #9fc131;
}
.banner-title {
  color: green;
}
.nav-color {
  background-color: #9fc131;
}
.link-color {
  color: white !important;
  padding: 0 1rem !important;
}
.btn-banner {
  background-color: green;
  border-radius: 25px;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
}

.care-level {
  padding: 0.2rem 1rem;
  margin-right: 0.5rem;
  border-radius: 25px;
  border: 3px solid #9fc131;
}
.pet-btn {
  padding: 0.2rem 2rem;
  margin: 0 0.5rem;
  border-radius: 25px;
  border: none;
  background-color: #9fc131;
}
.order-btn {
  padding: 0.2rem 1.5rem;
  margin: 0 0.5rem;
  border-radius: 25px;
  border: none;
  background-color: #9fc131;
  color: green;
}
.filters {
  margin: 0 0 0 9rem;
}
/* ...about-page... */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-card,
.sp-card {
  display: flex;
  flex-direction: row;
  margin: 2rem 5rem;
}


.about-text,
.sp-text {
  padding: 0 2rem;
}
.about-img {
  width: 300px;
  height: 300px;
}
.btn-aboutus {
  padding: 0.4rem 1.2rem;
  border-radius: 25px;
  border: none;
  background-color: #9fc131;
  color: white;
}

/* ...plant-single... */
.sp-container {
  min-height: 85vh;
}
.sp-subtitle {
  color: green;
  font-weight: bolder;
}
.plant-detail {
  border-left: 4px solid #9fc131;
  padding: 0 1rem;
}

.sp-img{
width: 380px;
height: 460px;
}

.register-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* ....myFav page....*/
.btn-reminder {
  padding: 0.2rem 1rem;
  margin: 0.5rem 0.5rem;
  border: none;
  background-color: #ce6a2c;
  color: white;
  border-radius: 5px;
}
.btn-delete{
  border: none;
  padding: 0.2rem 0.2rem;
  background-color: transparent;
}
.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fav-card-name {
  height: 20%;
  width: 100%;
  text-align: center;
  background-color: #9fc131;
  color: aliceblue;
  justify-content: center;
  padding: 0.8rem 0;
  text-transform: capitalize;
  font-size: 1rem;
  margin: 0;
}



/* ...plantSingle page... */

.like-btn{
  padding: 0.2rem 1.5rem;
  margin: 0 0.5rem;
  border-radius: 25px;
  border: none;
  background-color: grey;
  color: green;
}

.like-btn:hover{
  background-color: #9fc131;
}


#like-button {
  color:  #888;
  font-size: 1.1rem;
  background-color: transparent;
  border: 0.1em solid;
  border-radius: 1em;
  padding: 0.333em 1em 0.25em;
  line-height: 1.2em;
  box-shadow: 0 0.25em 1em -0.25em;
  cursor: pointer;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
  outline: 0;
  margin: 1.5rem 0;
  
  
}
#like-button:hover {
  color: indianred;
}

#like-button:active {
  transform: scale(0.95);
}

#like-button.selected {
  color: #FFF;
  background-color: indianred;
  border-color:indianred;
}

.heart-icon {
  display: inline-block;
  fill: currentColor;
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.2em;
}