@import url("https://fonts.googleapis.com/css2?family=Road+Rage&family=Spartan:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Spartan", sans-serif;
  background-size: cover;
  height: 100%;
  background-color: #f9f7d9;
}
header,
footer {
  height: 100px;
  width: 100%;

  background-color: #777;
  /* box-shadow: 5px 0 20px 5px #333; */
  color: white;
}
h3 {
  margin: 1rem;
}
a {
  color: white;
  text-decoration: none;
}
li {
  display: inline-block;
  margin: 1rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main {
  min-height: calc(100vh-200px);
}
h1 {
  text-align: center;
  margin: 2rem;
  font-family: "Road Rage", cursive;
  font-size: 5rem;
  color: yellow;
  text-shadow: 5px 5px 5px grey;
}
.search-bar {
  background-color: white;
  border: 1px solid #777;
  border-radius: 25px;
  width: 40%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.material-icons {
  color: #777;
  padding: 0.5rem;
  text-transform: capitalize;
  justify-content: center;
}
input {
  width: 92%;
  border: none;
  outline: none;
  padding: 0.8rem 0;
  text-align: start;
  background: transparent;
  box-sizing: content-box;
}
.types {
  margin: 0 1rem;
  border: none;
  font-size: 1rem;
  overflow: hidden;
  padding: 0.5rem;
}
.pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 80%;
  margin: 4rem auto;
  align-items: center;
  justify-content: center;
  grid-auto-flow: dense;
}

.card {
  height: 300px;
  width: 100%;
  box-shadow: 10px 10px 15px #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border: 10px solid black;
  background: linear-gradient(
    to top,
    rgba(#cffffe, 0.6),
    rgba(#f9f7d9, 0.6),
    rgba(#fce2ce, 0.6),
    rgba(#ffc1f3, 0.6)
  );
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E")
    1;
}

img {
  /* height: 80%;
  width: 100%; */
  height: 96px;
  width: 96px;
  padding: 1.2rem;
  /* filter: sepia(80%); */
}
.card:hover {
  transition: all 0.5s;
  transform: rotate(15deg);
  cursor: pointer;
}

.card img:hover {
  filter: saturate(1.5);

  animation: shake 0.5s;
  animation-iteration-count: infinite;
}