@import url("https://fonts.googleapis.com/css2?family=Road+Rage&family=Spartan:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");


* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Spartan", sans-serif;
  height: 100%;
  min-width: 100vh;
  background-color: #f9f7d9;
}
.logo{
  font-family: "Oleo Script Swash Caps", cursive !important;
  font-size: 1.5rem !important;
  color: green !important;
}
main {
  min-height: 70vh;
}
h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 5rem;
  color: #9FC131;

}
.search-bar {
  background-color: white;
  border: 1px solid #777;
  border-radius: 25px;
  width: 50%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-indent: 1rem;
}

.material-icons {
  color: #777;
  padding: 0.5rem;
  text-transform: capitalize;
  justify-content: center;
}

.types {
  margin: 0 1rem;
  border: none;
  font-size: 1rem;
  overflow: hidden;
  padding: 0.5rem;
}
.plant-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 80%;
  margin: 4rem auto;
  align-items: center;
  justify-content: center;
  grid-auto-flow: dense;
}

.card {
  height: 300px;
  width: 100%;
  box-shadow: 10px 10px 15px #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border:none;
}

img {
  height: 300px;
  width: 300px;
  padding: 1.2rem;
 
}
.card:hover {
  transition: all 0.5s;
  cursor: pointer;
}

.card img:hover {
  filter: saturate(1.5);
}


.slogan-container > h1 {
  margin: 0 auto;
  width: 800px;
}

.form-container {
  width: 45%;
  margin: 0 auto;
  padding-top: 4rem;
}
.contact {
  color: white;
  text-align: center;
  background-color: #9FC131;
}
.btn-contact{
  width: 100%;
  margin: 1.5rem 0;
  background-color: #9FC131 !important;
  border: none !important;
}

.btn-color{
  background-color: #9FC131 !important;
  border: none !important;
}
.banner{
  background-color: #9FC131;
}
.banner-title{
  color: green;
}
.nav-color{
  background-color: #9FC131;
}
.link-color{
color: white !important;
}
.btn-banner{
  background-color: green !important;
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.about-card{
  display: flex;
  flex-direction: row;
  
}